@using netcore.fcimiddleware.fondos.web.Models.V1.Moneda
@model UpdateMonedaRequest
@{
    ViewData["Title"] = "Editar Moneda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Monedas</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-area="" asp-controller="Moneda" asp-action="Index">Monedas</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <form asp-controller="Moneda" asp-action="Edit" method="post">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>

                    <div class="card-tools">
                    </div>
                </div>                
                <div class="card-body">
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <div class="input-group mb-3">
                        <input asp-for="Descripcion" type="text" class="form-control" placeholder="Descripcion">
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="IdCAFCI" type="text" class="form-control" placeholder="Codigo CAFCI">
                    </div>
                </div>                
                <!-- /.card-body -->
            </div>
            <div class="row">
                <div class="col-12">
                        <a asp-area="" asp-controller="Moneda" asp-action="Index" class="btn btn-secondary">Cancelar</a>
                    <input type="submit" value="Aceptar" class="btn btn-success float-right">
                </div>
            </div>
            </form>
            <!-- /.card -->
        </div>
    </div>
</section>
<!-- /.content -->